.container {
  background-image: url('/assets/img/background.png');
  background-size: 100% 100%;        /* Faz a imagem cobrir toda a área */
  padding: 2rem;                 /* Espaço interno para não colar nas bordas */
}

.container-title {
  text-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-family: 'rubik', sans-serif;
  padding-left: 2.5rem;
  color: #ffffff;
}

.container-list {
  background: linear-gradient(
  90deg,
  rgba(40, 34, 65, 0.2) 0%,     /* 0.2 = 20% de opacidade */
  rgba(52, 189, 173, 0.2) 50%,
  rgba(78, 173, 199, 0.2) 80%,
  rgba(230, 181, 126, 0.2) 100%);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  box-shadow: 0 2px 8px rgba(18, 18, 18, 0.1);
}

a {
  text-decoration: none;
}

.game-item {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 8px;
}

.game-item img {
  width: 150px;
  object-fit: cover; /* Mantém a proporção da imagem */
  border-radius: 8px 0 0 8px;
  margin-right: 1.5rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 1rem 0 0;
}

.game-info h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
  color: rebeccapurple;
}

.game-info .desc {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.game-info .year {
  color: rebeccapurple;
  font-size: 1rem;
  font-weight: bold;
}

li {
  margin-bottom: 1.5rem;
  list-style: none;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.game-item:last-child {
  border: none;
}
.container-list.cdk-drop-list-dragging .game-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
